* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #e3f2fd, #fce4ec);
    color: #212529; 
}

.card {
    background: #ffffff; 
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 45px;
    color: #007AFF; 
    margin-bottom: 25px;
}

.header p {
    color: #6c757d; 
}

.converter-area {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-group,
.select-wrapper {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #6c757d; 
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    font-size: 18px;
    background-color: #f8f9fa; 
    color: #212529; 
}


.conversion-group {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.conversion-group .icon {
    font-size: 30px;
    color: #007AFF;
    margin-bottom: 9px;
}

.result-box {
    text-align: center;
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 8px;
    font-size: 19px;
    color: #212529; 
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.btn-convert {
    background-color: #007AFF; 
    color: white;
}

.btn-convert:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn-clear {
    background-color: #e9ecef; 
    color: #212529; 
}

.btn-clear:hover {
    background-color: #dee2e6;
    transform: translateY(-2px);
}

.info-box {
    margin-top: 25px;
    padding: 40px;
    background-color: #f8f9fa; 
    border-radius: 12px;
    border: 1px solid #e9ecef;
    color: #212529; 
}

.info-box h3 {
    font-size: 22.5px;
    color: #007AFF;
    margin-bottom: 14px;
}

.info-box p {
    font-size: 17.5px;
    line-height: 1.5;
    color: #6c757d; 
}

@media (max-width: 500px) {
    .card {
        padding: 18px;
    }

    .header h1 {
        font-size: 17px;
    }

    .conversion-group {
        flex-direction: column;
        align-items: stretch;
    }

    .conversion-group .icon {
        transform: rotate(90deg);
        align-self: center;
        margin: 0;
    }

    .button-group {
        grid-template-columns: 1fr;
    }
}